@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
    gap: 8px;
}

.counter{
    text-align: center;
    bottom: 30%;
    font-size: 72px;
    position: relative;
    height: 54%;
    font-family: 'Roboto',sans-serif;
}

.title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.section{
    display: grid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}